body {
  text-align: center;
}
.navbar {
  background-color: black;
  color: #ffffff;
  padding: 0 0 50px 0;
}
.navbar .container {
  /* position: relative; */
  font-weight: 700;
}
.container {
  overflow: visible;
  width: 100%;
  max-width: 1200px;
  padding: 20px 15px;
  margin: auto;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.navbar {
  text-align: center;
}

.navbar strong {
  /* margin: 0 600px; */
  color: #786600;
  background: #fff7c9;
  border-radius: 3px;
  font-size: 13px;
  padding: 15px;
  margin-bottom: 40px;
  line-height: 3.5;
  /* text-align: center; */
}

.wrap {
  display: flex;
  justify-content: space-between;
}
.left,
.right,
.middle {
  height: auto;
  /* padding: 20px 0 500px 0; */
}
.left {
  width: 1200px;
  /* background: coral; */
}
.right {
  width: 1200px;
  /* background: lightblue; */
}
.middle {
  /* background: #555; */
  width: 100%;
  margin: 0 20px;
}

.middle-content {
  /* margin-top: 10px; */
}

.middle h1 {
  text-align: center;
  margin: 30px 0;
  font-weight: bold;
}

.action-box {
  /* background-color: coral; */
  float: left;
  width: 30%;
  padding: 2%;
  text-align: center;
}

.content-part {
  /* background-color: coral; */
  /* text-align: center; */
}
.post-content {
  margin: 100px 0;
  padding: 0 0 20px 0;
  border-color: black;
  border-width: 1%;
  border-style: dashed;
}
.get-content {
  margin: 200px 0;
  padding: 0 0 20px 0;
}

.show-box {
  float: left;
  width: 65%;
  height: 1000px;
}
.show-header {
  background-color: coral;
  padding: 15px 0;
}

.post-content {
  /* background-color: aliceblue; */
}

.get-content {
  /* background-color: aliceblue; */
  border-color: black;
  border-width: 1%;
  border-style: dashed;
}

.show-content {
  text-align: left;
  background-color: aliceblue;
  /* padding-bottom: 1050px; */
  padding: 4px;

  line-height: 2;
  min-height: 850px;
  border-color: black;
  border-width: 1%;
  border-style: solid;
  word-break: break-word;
}
