.wrap {
  display: flex;
  justify-content: space-between;
}
.left,
.right,
.middle {
  height: auto;
  /* padding: 20px 0 500px 0; */
}
.left {
  width: 800px;
  background: coral;
}
.right {
  width: 800px;
  background: lightblue;
}
.middle {
  background: #555;
  width: 100%;
  margin: 0 20px;
}

.post-field {
  background-color: aliceblue;
}

.get-field {
  background-color: aliceblue;
}
.show-box {
  background-color: aliceblue;
  padding-bottom: 80%;
}

.show-content {
  background-color: aliceblue;
}
