<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/book.js"></script>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="wrap">
      <div class="left"></div>
      <div class="middle">
        <div id="middle_header">Task2</div>
        <div class="post-field">
          <p>post</p>
          <p>
            <button id="fun1">存所有书</button>
            <button id="fun2">存单本</button>
          </p>
          <p>
            <button id="fun3">取所有书</button>
            <button id="fun4">取单本</button>
          </p>
        </div>
        <div class="get-field">
          <p>get</p>
          <p>
            <button id="fun5">存所有书</button>
            <button id="fun6">存单本</button>
          </p>
          <p>
            <button id="fun7">取所有书</button>
            <button id="fun8">取单本</button>
          </p>
        </div>
        <div class="show-box">
          <p>结果显示</p>
          <div class="show-content"></div>
        </div>
      </div>
      <div class="right">右侧</div>
    </div>
  </body>
</html>
